.indexPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .containerForClient{

    flex: 1;
    display: flex;
    .client{
      flex: 1;
    }
  }
  .containerForAdmin{

    flex: 1;
    display: flex;
    .admin{
      flex: 1;
    }
  }
}
