.q-dialog--component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);


  .q-dialog__content {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

    .q-dialog__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;

      .q-dialog__header-content {

      }
    }

    .q-dialog__body {

    }

    .q-dialog__footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 16px;
    }
  }
}
