.registr-component {

  // width:100%;
  // height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  //background: linear-gradient(#dddddd, #a06f6f);

  .q-dialog__content {
    width: 460px;
    height: auto;
    border-radius: 16px;
    display:flex;
    align-items:center;
    justify-content:center;

  }
  h4{
    font-weight: bold;
    text-align: center;
    margin: 0,30px, 10px;
  }

  .q-form {
    width:400px;
    max-width:100%;
  }
  .q-field {
    width:100%;
  }
  .q-btn {
    width:40%;
    height:56px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  }




