.registr-component{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(#c89c9e, #4f2742);

  .q-form { width:280px; max-width:100%; }
  .q-field { width:100%; }
  .q-btn { width:100%; height:56px; }
  .q-card {
    background-color: lightblue;
    width: 400px; height: 540px
  }

}
